/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2019, 19:23:47
    Author     : Luan
*/

body,html{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.form-login{
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 8px; 
    
}

.back-login{
    width:100%;
    position: relative;
    top: 50px;
}

#inputLogin,#inputSenha,.btn-primary{
    margin:  10px 0;
}

header{
    margin-bottom: 85px;
}


#perfil-card{
    margin-bottom: 50px;
}

#img-usu{
    
}

.img-border{
   border: 2px solid rgba(0,0,0,0.2);
   border-radius: 5px;
   max-height: 600px;
}

.custom-file-label{
    overflow: hidden;
}

.margin-bottom{
    margin-bottom: 10px;
    
}

